
.bs-authors-info-dialog-authors {
	.x-grid-row {
		height: 47px;
	}
	.bs-authors-info-dialog-item {
		.bs-userminiprofile {
			display: inline-block;
			width: 40px;
			height: 40px;
			img {
				width: 40px;
				height: 40px;
			}
		}
		span {
			font-weight: bold;
			margin-left: 10px;
		}
		.author-type {
			margin-left: 5px;
			&:before {
				content: "(";
			}
			&:after {
				content: ")";
			}
		}
	}
}